.bg-aqua-marine {
	background-color: #7FFFD4;
}

.bg-light-coral {
	background-color: #F08080;
}

.bg-lime-green {
	background-color: #3CB371;
}

.bg-light-yellow {
	background-color: #F8F867;
}

.text-bc {
	color: #333333;
}